@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL */
* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}


/* LAYOUT */
#header {
    background-color: #0c3649;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
    filter: drop-shadow(0px 2px 2px #0e0e0e);
}

#nav {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    display: flex;
    gap: 5.5em;
}




/* TYPOGRAPHY */
h1 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    font-size: 3em;
}

h2 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    font-size: 1.8em;
}

h3 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
}